.cb2-calendar {
	background: $color-white;
	box-shadow: -1px 1px 18px 4px rgba(0, 0, 0, 0.23);
	li.type-day {

		.type-perioditem {
			font-weight: bold;
			text-align: center;
			color: $color-white;
			height: 38px;
			overflow: hidden;

			.cb2-details { /* click-target */
				display: block;
				height: inherit;

			}

			.cb2-time-period {
				padding: 0;
			}

			&.cb2-status-booked {
				cursor: not-allowed;

			}
		}

		li.cb2-selectable {

		&.cb2-selected {
			background: $color-green-period-selected;
			color: $color-green-period-selected;
			color: $color-green-dark;
			&:hover {
				background: $color-green-period-selected;
			}
			.cb2-time-period {
				user-select: none;
			}
		}
	}

}

	li.type-perioditem {
		input { /* @TODO fix target */
			position: absolute;
			left: -9999px;
		}

	}
}
