#geo-hcard-map {
	border:1px double #666;
	padding:2px;
	width:100%;
	min-height:400px;
}
.cb2-popup,      /* whole popup */
.cb-popup-only { /* popup fields */
	display:none;
}
#geo-hcard-map {
	.cb2-popup,
	.cb-popup-only {
		display:block;
	}
}
